* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gilda Display", serif;
}

/* ================= HEADER ================= */
header {
    nav {
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-container {
            width: min(93.05%, 1200px);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .active {
                color: #25a59e;
                text-decoration: none;
                font-weight: 400;
                font-size: clamp(16px, 2vw, 28px);
                letter-spacing: 2px;
            }

            .menu-btn {
                display: inline-block;
                cursor: pointer;
                user-select: none;
                width: clamp(20px, 2vw, 28px);
                height: clamp(20px, 2vw, 23px);
            }

            #menu-toggle {
                display: none;
            }

            .myLinks {
                display: none;
                flex-direction: column;
                width: 100%;
                background-color: #333;

                a {
                    color: white;
                    padding: 14px 16px;
                    border-top: 1px solid #444;

                    &:hover {
                        background-color: #575757;
                    }
                }
            }
        }
    }

    #menu-toggle:checked+label+#myLinks {
        display: block;
    }
}

/* ================= HERO ================= */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min(93.05%, 1340px);

        h1 {
            font-size: clamp(24px, 8vw, 170px);
            line-height: 1.1;
            color: #222;
            font-weight: 400;
            margin-bottom: 1rem;
            text-align: center;
        }

        .hero-image-wrapper {
            position: relative;
            width: clamp(250px, 80vw, 888px);

            img {
                width: clamp(250px, 80vw, 888px);
                z-index: 2;
                position: relative;
                margin-top: -8%;
            }

            .half-circle {
                position: absolute;
                bottom: -20%;
                left: 3%;
                width: 90%;
                aspect-ratio: 2 / 1;
                background-color: #ee8f39;
                border-radius: 50vh 50vh 0 0;
                z-index: 1;
            }
        }

        .hero-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #25a59e;
            color: white;
            padding: 0 120px;
            gap: 60px;
            width: 100%;
            max-width: 1200px;
            height: 160px;
            z-index: 2;

            p {
                color: #ffffff;
                opacity: 1;
                font-family: "Urbanist", sans-serif;
                font-weight: 600;
                font-size: 18px;
                line-height: 32px;
            }
        }
    }
}

/* ================= MAIN ================= */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    width: min(93.05%, 1200px);

    .search-destination {
        margin: 100px auto 0 auto;

        .search-header {
            display: flex;
            align-content: space-between;
            align-items: start;

            h1 {
                font-family: "Gilda Display", serif;
                font-weight: 400;
                font-size: clamp(40px, calc(3vw + 28px), 72px);
                line-height: 84px;
            }

            .search-box {
                p {
                    width: 446px;
                    margin-bottom: 24px;
                    font-family: "Urbanist";
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 32px;
                }

                input {
                    width: 470px;
                    height: 64px;
                    border: 1px solid #ccc;
                    padding: 8px 16px;
                    border-radius: 100px;
                }
            }
        }

        .destination-grid {
            margin-top: 60px;
            margin-bottom: 54px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
            justify-items: center;
            gap: 44px;

            .destination-card {
                background: #fff;
                border-width: 1px;
                width: 370.66668701171875px;
                height: 404px;
                padding: 16px 16px;
                box-shadow: 0px 8px 20px 0px #37366433;
                overflow: hidden;
                background-color: #ffffff;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }

                h2 {
                    margin-top: 28px;
                    font-family: "Urbanist";
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 24px;
                    color: #262626;
                    height: 36px;
                    margin-top: 8px;
                    opacity: 1;
                    line-height: 36px;
                    letter-spacing: 0%;
                }

                p {
                    font-family: "Urbanist";
                    font-weight: 600;
                    font-style: SemiBold;
                    line-height: 32px;
                    letter-spacing: 0%;
                }
            }
        }
    }


    .choose-us {
        margin: 100px auto 0 auto;

        .content-wrapper {
            max-width: 879px;
            margin: 0 auto;

            h1 {
                font-family: "Gilda Display", serif;
                font-weight: 400;
                font-size: 72px;
                line-height: 84px;
                text-align: center;
            }

            p {
                text-align: center;
                font-family: "Urbanist" serif;
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                color: #737373;
                line-height: 32px;
                letter-spacing: 0%;
                text-align: center;
            }
        }


        .cards-container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 60px;
            margin-bottom: 100px;
            justify-content: center;
            gap: 28px;

            .choose-card {
                max-width: 381.3333435058594px;
                height: 400px;
                opacity: 1;
                padding-top: 40px;
                padding-right: 32px;
                padding-bottom: 48px;
                padding-left: 32px;
                box-shadow: 10px 26px 150px 0px #4343641A;

                h2 {
                    font-family: "Gilda Display", serif;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 40px;
                    line-height: 62px;
                    letter-spacing: 0%;
                }

                p {
                    padding-top: 20px;
                    font-family: "Urbanist" serif;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 18px;
                    text-decoration: none;
                    line-height: 32px;
                    letter-spacing: 0%;
                }

                a {
                    margin-top: 80px;
                    display: block;
                    text-align: right;
                    color: #25A59E;
                    font-family: "Gilda Display", serif;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-decoration: none;
                }
            }
        }

        .choose-card:nth-child(2) {
            background-color: #25A59E;
            color: #FFFFFF;

            a {
                color: #FFFFFF;
            }
        }
    }

    .promo-section {
        display: flex;
        margin-bottom: 100px;

        .promo-wrapper {
            margin-top: 10px;


            h1 {
                font-family: "Gilda Display", serif;
                font-weight: 400;
                font-size: 72px;
                line-height: 84px;
                color: #262626;
            }

            p {
                font-family: Urbanist;
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
            }

            .promo-actions {
                .btn-primary {
                    width: 141;
                    height: 54;
                    padding-top: 16px;
                    padding-right: 32px;
                    padding-bottom: 16px;
                    padding-left: 32px;
                    border: none;
                    opacity: 1;
                    background-color: #25A59E;
                    color: #FFFFFF;
                    font-family: Urbanist;
                    font-weight: 600;
                    font-style: SemiBold;
                    font-size: 18px;

                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: right;

                }

                .btn-secondary {
                    width: 115;
                    height: 26;
                    color: #333333CC;




                }
            }
        }

        img {
            margin-top: 100px;
            width: 658px;
            height: 485px;
        }
    }






}

/* ================= MEDIA QUERIES ================= */

/* --- Tablet --- */
@media (max-width: 922px) {
    header nav {
        .nav-container {
            width: 86.66%;
        }
    }

    .hero {
        padding-top: 120px;

        .hero-content {
            width: 100%;

            h1 {
                width: 87.2vw;
                font-size: 52px;
            }

            img {
                width: 86.66%;
            }

            .hero-info {
                flex-direction: column;
                text-align: center;
                padding: 24px 20px;
                gap: 16px;
                height: auto;
            }
        }
    }

    main {
        .search-destination {
            width: 89.66%;

            .search-header {
                flex-direction: column;
                align-items: start;

                h1 {
                    font-weight: 400;
                    line-height: 52px;
                }

                .search-box {
                    p {
                        width: 89.3vw;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    input {
                        width: 89.3vw;
                    }
                }
            }

            .destination-grid {
                display: flex;
                overflow-x: auto;
                margin: 0 auto;
                margin-top: 28px;
                scroll-snap-type: x mandatory;
                width: 370px;

                .destination-card {
                    flex: 0 0 100%;
                    scroll-snap-align: center;
                    box-shadow:
                        10px 26px 150px 0px #4343641A,
                        /* الظل الأساسي يمين وتحت */
                        -10px 26px 150px 0px #4343641A;
                    /* الظل الثاني يسار وتحت */
                    text-align: center;
                }

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .promo-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .promo-wrapper {
                width: 100%;
                height: auto;
                        margin-top: 0px;
                      .promo-actions {
                    .btn-primary {
                        display: none;
                    }

                    .btn-secondary {
                        display: none;
                    }
                }
            }

            img {
        margin-top: 28px;
                width: 100%;
                height: auto;
            }

        }
    }
}

/* --- Mobile --- */
@media (max-width: 375px) {
    .hero {
        padding-top: 120px;

        .hero-content {
            width: 100%;

            h1 {
                font-size: clamp(20px, 10vw, 60px);
            }

            img {
                margin-top: -4%;
            }

            .hero-info {
                padding: 20px;letter-spacing: 0%;
                gap: 12px;

                p {
                    font-family: "Urbanist";
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    main {
        .search-destination {
            .search-header {
                h1 {
                    width: min(335px, 89.33%);
                    font-size: 40px;
                    line-height: 52px;
                }
            }

            .destination-grid {
                width: 100%;

                .destination-card {
                    height: max(404px, 10%);

                    img {
                        width: 100%
                    }
                }
            }
        }

        .choose-us {
            .content-wrapper {
                h1 {
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 40px;
                    line-height: 52px;
                }

                p {
                    padding-top: 12px;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .cards-container {
                gap: 40px;

                .choose-card {
                    width: min(335px, 89.33%);
                    height: 254;
                    padding-top: 28px;
                    padding-right: 20px;
                    padding-bottom: 32px;
                    padding-left: 20px;
                    gap: 40px;
                    opacity: 1;

                    h2 {
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 28px;
                        line-height: 40px;
                        letter-spacing: 0%;
                    }

                    p {
                        font-size: 15px;
                        line-height: 23px;
                        letter-spacing: 0%;
                    }
                }
            }
        }



        .promo-section {
            .promo-wrapper {
        
                width: min(335px, 89.33%);

                h1 {
                    font-size: 40px;
                    line-height: 52px;
                }

                p {
font-size: 16px;
line-height: 24px;


            }
          
            }
                img {
                    margin-top: 28px;
                    width: min(335px, 89.33%);

                }

            }
        

    }
}